@import "normalize";
@import "bootstrap-grid.min";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.section1 {
  background: url(/image/HeaderBackground.png) center center no-repeat;
  background-size: cover;
  &__title,
  &__subtitle {
    font-family: "Josefin Sans";
    font-style: normal;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
  }
  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
  }
  &__subtitle {
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.31em;
  }
  &__input {
    height: 60px;
    width: 647px;
    padding: 36px 20px;
    margin: 0 auto;
  }
  &__input ::placeholder {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #999999;
  }
  &__button {
    background: #5373fd;
    width: 139px;
    height: 52px;
    font-family: "Aleo";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__scroll {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #ffffff;
  }
  &__scroll-svg {
    width: 14px;
    height: 16px;
  }
}
.section1_title {
  padding-top: 285px;
  margin-bottom: 8px;
}
.section1_subtitle {
  margin-bottom: 48px;
}
.section1_input {
  margin-bottom: 211px;
}
.section1_button {
  position: absolute;
  top: 10px;
  left: 75%;
}
.input_position {
  margin: 0 auto;
  width: 647px;
  position: relative;
}
.section1_scroll {
  margin-bottom: 8px;
}
.section1_scroll-svg {
  margin-left: 49%;
  margin-bottom: 120px;
}
.header {
  background: #5373fd;
  display: flex;
  flex-wrap: nowrap;

  &__title {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 18%;
  }
  &__list {
    font-family: "Aleo";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 20%;
  }
  &__list li {
    margin-left: 35px;
  }
}
.section2 {
  background: url(/image/WhyBackground.png) center center no-repeat;
  background-size: cover;
  position: relative;
  &__title {
    font-family: "Aleo";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: #ffffff;
  }
  &__subtitle {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
  &__button {
    width: 213px;
    height: 60px;
    background: #5373fd;
    font-family: "Aleo";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__first-image {
    position: absolute;
    left: 900px;
    top: 100px;
  }
  &__second-image {
    position: absolute;
    left: 990px;
    top: 350px;
  }
}
.section2_title {
  margin-top: 190px;
  margin-bottom: 24px;
}
.section2_subtitle {
  margin-bottom: 34px;
}
.section2_button {
  margin-bottom: 124px;
}
.section3 {
  background: url(/image/BG-mini.png) center center no-repeat;
  background-size: cover;
  &__text-after-svg {
    font-family: "Aleo";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 59px;
    margin-left: -66px;
  }
  &__svg {
    margin-top: 107px;
  }
}
.section4 {
  background: url(/image/render.png) center center no-repeat;
  background-size: cover;
  height: 684px;
  &__place {
    height: 344px;
    width: 648px;
    background: rgba(35, 35, 35, 0.9);
  }
  &__name-city,
  &__title,
  &__text-title {
    font-family: "Josefin Sans";
    font-style: normal;
    line-height: 28px;
    color: #ffffff;
  }
  &__name-city {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.1em;
  }
  &__title {
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
  }
  &__text-title {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.1em;
  }
  &__button {
    width: 213px;
    height: 60px;
    background: #5373fd;
    font-family: "Aleo";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.section4_place {
  margin-left: 10%;
  margin-bottom: 120px;
}
.section4_box_for_place {
  padding-top: 220px;
}
.section4_name-city {
  padding-left: 32px;
  padding-top: 44px;
  margin-bottom: 16px;
}
.section4_title {
  margin-bottom: 16px;
  padding-left: 32px;
}
.section4_text-title {
  margin-bottom: 24px;
  padding-left: 32px;
}
.section4_button {
  margin-left: 32px;
}

.section5 {
  background: url(/image/spain.png) center center no-repeat;
  background-size: cover;
  height: 684px;
  &__place {
    height: 344px;
    width: 648px;
    background: rgba(35, 35, 35, 0.9);
  }
  &__name-city,
  &__title,
  &__text-title {
    font-family: "Josefin Sans";
    font-style: normal;
    line-height: 28px;
    color: #ffffff;
  }
  &__name-city {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.1em;
  }
  &__title {
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
  }
  &__text-title {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.1em;
  }
  &__button {
    width: 213px;
    height: 60px;
    background: #5373fd;
    font-family: "Aleo";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.section5_place {
  margin-left: 50%;
  margin-bottom: 120px;
}
.section5_box_for_place {
  padding-top: 220px;
}
.section5_name-city {
  padding-left: 32px;
  padding-top: 44px;
  margin-bottom: 16px;
}
.section5_title {
  margin-bottom: 16px;
  padding-left: 32px;
}
.section5_text-title {
  margin-bottom: 24px;
  padding-left: 32px;
}
.section5_button {
  margin-left: 32px;
}

.section6 {
  background: url(/image/BG.png) center center no-repeat;
  background-size: cover;
  &__title {
    font-family: "Aleo";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
  }
  &__box-for-shadow {
    background: #333333;
    height: 280px;
    margin-bottom: 180px;
  }
  &__title2,
  &__text {
    font-family: "Josefin Sans";
    font-style: normal;
    line-height: 28px;
    color: #ffffff;
  }
  &__title2 {
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
  }
  &__text {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.1em;
  }
}
.section6_title {
  padding-top: 120px;
  margin-bottom: 60px;
}
.section6_title2,
.section6_text {
  padding-left: 60px;
}
.section6_title2 {
  padding-top: 48px;
}
.footer {
  background: url(/image/BG-footer.png) center center no-repeat;
  background-size: cover;
  &__title,
  &__subtitle {
    font-family: "Josefin Sans";
    font-style: normal;
    color: #ffffff;
    text-align: center;
  }
  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  &__subtitle {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2em;
  }
  &__svg {
    display: flex;
    margin-left: 13%;
  }
}
.footer_title {
  padding-top: 80px;
  margin-bottom: 8px;
}
.footer_subtitle {
  margin-bottom: 22px;
}
.last_svg {
  margin-bottom: 80px;
}
